<?xml version="1.0"?>
<config>
    <modules>
        <Scriptkid_Skipshipping>
            <version>0.0.1</version>
        </Scriptkid_Skipshipping>
    </modules>
    <global>
        <blocks>
            <checkout>
                <rewrite>
                    <onepage>Scriptkid_Skipshipping_Block_Onepage</onepage>
                </rewrite>
            </checkout>
        </blocks>
        <helpers>
            <skipshipping>
                <class>Scriptkid_Skipshipping_Helper</class>
            </skipshipping>
        </helpers>
        <models>
            <skipshipping>
                <class>Scriptkid_Skipshipping_Model</class>
            </skipshipping>
            <checkout>
              <rewrite>
                <session>Scriptkid_Skipshipping_Model_Session</session>
              </rewrite>
            </checkout>
        </models>
    </global>
    <default>
        <checkout>
            <options>
                <hide_shipping>1</hide_shipping>
                <default_shipping>tablerate_bestway</default_shipping>
            </options>
        </checkout>
    </default>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Scriptkid_Skipshipping before="Mage_Checkout">Scriptkid_Skipshipping</Scriptkid_Skipshipping>
                    </modules>
                </args>
            </checkout>
        </routers>
        <translate>
            <modules>
                <Scriptkid_Skipshipping>
                    <files>
                        <default>Scriptkid_Skipshipping.csv</default>
                    </files>
                </Scriptkid_Skipshipping>
            </modules>
        </translate>
    </frontend>
</config>
